:root {
  // Rojo
  --mc-rojo-50: #FFF0F1;
  --mc-rojo-100: #FFDDDF;
  --mc-rojo-200: #FFBFC1;
  --mc-rojo-300: #FF9A9E;
  --mc-rojo-400: #FF6F77;
  --mc-rojo-500: #FF3B4D;
  --mc-rojo-600: #E4002B;
  --mc-rojo-700: #AD001E;
  --mc-rojo-800: #790012;
  --mc-rojo-900: #480007;
  --mc-rojo-950: #310003;

  // Azul
  --mc-azul-50: #F0F3FE;
  --mc-azul-100: #DEE5FD;
  --mc-azul-200: #BCCBFC;
  --mc-azul-300: #9CB4FA;
  --mc-azul-400: #759BF8;
  --mc-azul-500: #4183F6;
  --mc-azul-600: #236CD8;
  --mc-azul-700: #1B57B0;
  --mc-azul-800: #13448D;
  --mc-azul-900: #0B3067;
  --mc-azul-950: #041A3E;

  // Verde
  --mc-verde-50: #D4FED9;
  --mc-verde-100: #9EFDAC;
  --mc-verde-200: #3EF066;
  --mc-verde-300: #37D75B;
  --mc-verde-400: #2FBE50;
  --mc-verde-500: #28A745;
  --mc-verde-600: #1D8335;
  --mc-verde-700: #136225;
  --mc-verde-800: #0A4317;
  --mc-verde-900: #03260A;
  --mc-verde-950: #021805;

  // Amarillo
  --mc-amarillo-50: #FFF8F0;
  --mc-amarillo-100: #FFF2E1;
  --mc-amarillo-200: #FFE8C9;
  --mc-amarillo-300: #FFDAA3;
  --mc-amarillo-400: #FFCD71;
  --mc-amarillo-500: #FFC108;
  --mc-amarillo-600: #C79600;
  --mc-amarillo-700: #946F01;
  --mc-amarillo-800: #644A00;
  --mc-amarillo-900: #352500;
  --mc-amarillo-950: #211600;

  // Gris
  --mc-gris-50: #EDEEEF;
  --mc-gris-100: #D8DADD;
  --mc-gris-200: #B5B9BE;
  --mc-gris-300: #91969D;
  --mc-gris-400: #71757A;
  --mc-gris-500: #53565A;
  --mc-gris-600: #424548;
  --mc-gris-700: #333538;
  --mc-gris-800: #242628;
  --mc-gris-900: #151617;
  --mc-gris-950: #0D0E0F;

  // Silver
  --mc-silver-50: #FAFAFA;
  --mc-silver-100: #F4F4F5;
  --mc-silver-200: #E5E5E6;
  --mc-silver-300: #D5D6D7;
  --mc-silver-400: #A7A8AA;
  --mc-silver-500: #747577;
  --mc-silver-600: #555658;
  --mc-silver-700: #414244;
  --mc-silver-800: #282829;
  --mc-silver-900: #19191A;
  --mc-silver-950: #0A0A0A;

  // Grafito
  --mc-grafito-50: #F9FAF9;
  --mc-grafito-100: #F4F5F4;
  --mc-grafito-200: #E6E6E5;
  --mc-grafito-300: #D0D0CE;
  --mc-grafito-400: #A5A5A1;
  --mc-grafito-500: #747470;
  --mc-grafito-600: #545451;
  --mc-grafito-700: #41413F;
  --mc-grafito-800: #272726;
  --mc-grafito-900: #1A1A19;
  --mc-grafito-950: #0B0B0A;

  // Bone
  --mc-bone-300: #F1E6DE;
  --mc-bone-400: #EEE0D5;
  --mc-bone-500: #EAD7C8;
  --mc-bone-600: #C7A585;
  --mc-bone-700: #917760;

  // Tolopea
  --mc-tolopea-100: #E8E5FF;
  --mc-tolopea-200: #B2A7FF;
  --mc-tolopea-300: #6B3FFF;
  --mc-tolopea-700: #5307FA;
  --mc-tolopea-950: #160050;
}
