@font-face {
    font-family: Chilena;
    src: url(../fonts/chilena/Chilena-Regular.otf);
}

@font-face {
    font-family: Chilena Fina;
    src: url(../fonts/chilena/Chilena-Fina.otf);
}

@font-face {
    font-family: Chilena Light;
    src: url(../fonts/chilena/Chilena-Light.otf);
}

@font-face {
    font-family: Chilena Bold;
    src: url(../fonts/chilena/Chilena-Bold.otf);
}

@font-face {
    font-family: Chilena ExtraBold;
    src: url(../fonts/chilena/Chilena-ExtraBold.otf);
}